# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

# DOCKER
/.docker/mongo/file.key
/data/*
/mongodb-osx-x86_64-4.0.12/*
/mongo-init.js/*
/data/
/mongodb-osx-x86_64-4.0.12/
/mongo-init.js/
